{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="talks">
    <h2 class="title">Talks</h2>
    {% for p in talks %}
        <div class="talk">
            <div>
                <a class="talk-link" href="{{p.link}}">
                    {{p.title}}
                </a>
            </div>
            <div class="organization">
                {{p.organization}}
                <span class="time">{{p.time}}</span>
            </div>
            <div class="authors"> Speakers: {{p.authors}} </div>
            <div class="details"> {{p.details}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
